<br>

<div class="booyah-box col-xs-10 col-xs-offset-1">
  <h1 class="text-center pageTitle">Careers</h1>
  <br>
  <div class="col-sm-10 col-sm-offset-1 col-xs-12">
    <%= image_tag 'career_photo.jpg', class: 'img-responsive' %>
    <br>
    <br>
    <p>Help others become as awesome as you! Join our team, We know you've got mad skills, and the confidence to match...if this was a real company we would hire you in a heartbeat!</p>
  </div>
</div>