@import url(https://fonts.googleapis.com/css?family=Jura:400,500,300,600|Jaldi:400,700);

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.navbar {
  border-radius: 0;
  font-family: 'Jura', sans-serif;
  box-shadow: 0px 4px 12px rgba(133,116,133,0.70);
  background: url('cubes.png');
  padding: 1.5em 0 1.5em;
  margin: 0;
}

.navbar a.navbar-brand {
  font-size: 3em;
  font-weight: 500;
  color: #4EC810;
}

.navbar a.navbar-brand:hover {
  color: #32810a;
  text-shadow: 0px 0px 10px rgba(132, 212, 72, 0.75);
  transition: .75s;
}

.userNav {
  color: rgba(55, 123, 20, 0.99);
  font-size: 1.7rem;
  font-weight: 500;
}

.userNav:hover {
  color: rgba(104, 202, 53, 0.99);
  text-shadow: 0px 0px 4px rgba(104, 202, 53, 0.4);
  transition: .95s;
  text-decoration: none;
}

.hero {
  background: url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 380px;
  box-shadow: 0px 4px 12px rgba(133,116,133,0.90);
}

.frosty {
  background: rgba(0,0,0, 0.4);
  color: rgba(255,255,255, 0.9);
  border-radius: 6px;
}

.frosty h1 {
  font-family: 'Jura', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0,0,0,0.60) 1px 1px;
}

.frosty h2 {
  font-family: 'Jura', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0,0,0,0.80) 1px 1px;
}

#learn {
  margin-bottom: 2em;
}

.btn {
  border-radius: 3px;
}

body {
  background: url('escheresque53.png');
  font-family: 'Jaldi', sans-serif;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 2px 2px 3px 0 #d0d0d0;
  background: #fff;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.clr {
  clear: both;
}

.field_with_errors {
  color: #ff3333;
  background-color: #FFEEEE;
  border-radius: 3px;
  padding:8px;
}

.pageTitle {
  color: rgba(0, 93, 65, .95);
}
